.c-background {
  @include img-responsive();

  %with-background,
  .c-with-background {
    @include background-support();
  }

  &--fill {
    @include position-fill(absolute);
    pointer-events: none;
  }

  .container {
    position: relative;
  }
}
@include desktop-md-down {
  .c-background {
    &__image {
      @include background-default();
      height: 60%;
      margin-top: 90px;
      width: 100%;
    }
  }
}

@include desktop-down {
  .c-background {
    &__image {
      @include background-default();
      height: 70%;
      margin-top: 90px;
      width: 100%;
    }
  }
}

@include tablet-down {
  .c-background {
    &__image {
      @include background-default();
      height: 32%;
      margin-top: 80px;
      width: 100%;
    }
  }
}

@include mobile-down {
  .c-background {
    &__image {
      @include background-default();
      height: 60%;
      margin-top: 150px;
      width: 100%;
    }
  }
}

@include mobile-small-down {
  .c-background {
    &__image {
      @include background-default();
      height: 65%;
      margin-top: 80px;
      width: 100%;
    }
  }
}

%with-background,
.c-with-background {
  @include background-support();
}
