/**
 *
 * Short Content
 *
 */

@include desktop-md-down {
  .short-content {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 35px;
    margin-top: 34%;
  }
}

@include desktop-down {
  .short-content {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-top: 34%;
  }
}

@include tablet-down {
  .short-content {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 35px;
    margin-top: 42%;
  }
}

@include mobile-down {
  .short-content {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 90%;
  }
}

@include mobile-small-down {
  .short-content {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 105%;
  }
}
