$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;
$screen-lg-max: 1399px;
$screen-xl-min: 1400px;

/**
 *
 * Mobile First
 *
 */

@mixin mobile-up {
  @include media-breakpoint-up(sm) {
    @content;
  }
}

@mixin tablet-up {
  @include media-breakpoint-up(md) {
    @content;
  }
}

@mixin desktop-up {
  @include media-breakpoint-up(lg) {
    @content;
  }
}

@mixin desktop-md-up {
  @include media-breakpoint-up(xl) {
    @content;
  }
}

/**
 *
 * Desktop First
 *
 */

@mixin desktop-md-down {
  @include media-breakpoint-down(xl);
  @media screen and (min-width: $screen-xl-min) {
    @content;
  } 
}

@mixin desktop-down {
  @include media-breakpoint-down(lg);
  @media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
    @content;
  }
}

@mixin tablet-down {
  @include media-breakpoint-down(md);
  @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @content;
  }
}

@mixin mobile-down {
  @include media-breakpoint-down(sm);
  @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @content;
  }
}

@mixin mobile-small-down {
  @include media-breakpoint-down(xs);
  @media screen and (max-width: $screen-xs-max) {
    @content;
  }
}

/**
 *
 * Specific Resolution Breakpoints
 *
 */

@mixin tablet-only() {
  @include media-breakpoint-between(md, md) {
    @content;
  }
}

@mixin small-screen-only() {
  @include media-breakpoint-between(lg, lg) {
    @content;
  }
}

@mixin small-to-md-screen-only() {
  @include media-breakpoint-between(lg, xl) {
    @content;
  }
}

/**
 *
 * WordPress Breakpoints
 *
 */

// mobile with admin bar
@mixin admin-bar-mobile {
  @media (max-width: $breakpoint-responsive-adminbar-mobile) {
    @content;
  }
}

// tablet with admin bar
@mixin admin-bar-tablet {
  @media (max-width: $breakpoint-responsive-adminbar-tablet) {
    @content;
  }
}
